@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

a {
  @apply underline hover:no-underline;
}

@layer components {
	.spinning {
		animation: 3s linear 0s infinite spinning;
	}
}

@keyframes spinning {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}